<!doctype html>
<html>
<head>
    <meta charset="utf-8">
    <title>My Image Board</title>
    <link rel="stylesheet" href="/css/style.css">
</head>
<body>
    <h1>My Image Board</h1>
    
    <div id="main">
        <h2>{{images}}</h2>

        
        <!-- <h2>Hi {{name}}! Vue is awesome {{cities[1].name}}🤘</h2>
        <h2>10 * 2 = {{10 * 2}}</h2>
        <h2>Name Uppercase: {{name.toUpperCase()}}</h2>

        <h3 v-if="seen"> You can see me!!! 👀 </h3>
        <h3 v-else=>"seen" is false</h3>

        <h2>Cities</h2>
        <ul>
            <li v-for="city in cities" v-bind:key="city.id" @click="sayHello(city.name, city.flag)">{{city.name}}  is in  {{city.country}}{{city.flag}}</li>
        </ul> -->
    </div>



    <script src="/js/app.js" type="module" crossorigin="use-credentials"></script>
</body>
</html>
