* {
    background-color: rgb(255, 255, 255);
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(80, 83, 85);
}

body {
    margin: 50px;
}
.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 320px;
}
.card-content {
    border: 1px solid rgb(73, 71, 71);
    border-radius: 3px;
    padding: 3px;
    width: 400px;
    height: 308px;
}
.card-img {
    width: 100%;
    height: 270px;
}

li {
    list-style: none;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

input {
    height: 20px;
}

button {
    background-color: rgb(224, 161, 132);
    padding: 5px;
}
/* 
.inputfile {
    width: 0.1px;
    height: 0.1px;
    opacity: 0;
    overflow: hidden;
    position: absolute;
    z-index: -1;
}

.inputfile + label {
    font-size: 1.25em;
    font-weight: 700;
    color: white;
    background-color: black;
    display: inline-block;
}

.inputfile:focus + label,
.inputfile + label:hover {
    background-color: red;
} */
