* {
    background-color: rgb(255, 255, 255);
    font-family: Georgia, "Times New Roman", Times, serif;
    color: rgb(80, 83, 85);
}

body {
    margin: 50px;
}
.card {
    display: grid;
    grid-template-columns: repeat(auto-fill, minmax(400px, 1fr));
    grid-auto-rows: 320px;
}
.card-content {
    border: 1px solid rgb(73, 71, 71);
    border-radius: 3px;
    padding: 3px;
    width: 400px;
    height: 308px;
}
.card-img {
    width: 100%;
    height: 270px;
}

li {
    list-style: none;
}

h3 {
    font-family: Arial, Helvetica, sans-serif;
    font-weight: bold;
}
p {
    font-family: Arial, Helvetica, sans-serif;
}

form {
    margin: 40px 0;
    display: flex;
    justify-content: space-between;
    width: 80%;
}

input {
    height: 20px;
}

button {
    background-color: rgb(224, 161, 132);
    padding: 5px;
}

.container {
    /* background-color: #474e5dbd; */
    display: flex;
    justify-content: center;
    align-content: center;
}

.modal {
    position: fixed;
    /* display: none; */
    z-index: 1;
    left: 0;
    top: 0;
    width: 100%;
    height: 100%;
    overflow: auto;
    background-color: #474e5d49;
    padding-top: 50px;
}

.modal-content {
    background-color: #fefefe;
    margin: 5% auto;
    border: 1px solid #888;
    width: 501px;
    height: 830px;
    padding: 0 20px 10px;
}

.close-button {
    font-family: Arial, Helvetica, sans-serif;
    color: rgb(209, 73, 73);
    text-align: end;
    font-size: 20px;
    font-weight: 400;
    margin: 15px;
}

.modal-img {
    width: 500px;
    height: 400px;
}
.more {
    background-color: transparent;
    margin: 5% 50%;
}

.comment-button {
    margin: 20px;
}
